<!DOCTYPE html>
<html xmlns="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('organizer') }}
    {% endblock style %}
</head>
<body>
<header class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url('index') }}">{{ app_name }}</a>
        </div>
    </nav>
</header>

<main role="main" class="container">

    {% block body %}
        <div class="row">
            <div class="col">
                <h1>An Error has occured</h1>

                <div>
                    We are really sorry about that, but there are something wrong.<br>
                    We already trying to fix this.
                    <br>
                    <br>
                    Sorry for any inconvenience.
                </div>
            </div>
        </div>
    {% endblock %}
</main>

<footer class="footer mt-4">
    <div class="container">
        <span class="text-muted">{{ app_name }} &copy;  Copyright {{ "now"|date("Y") }}</span>
    </div>
</footer>
</body>
</html>
