{% extends 'headless.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card-body">
                <h4 class="card-title">{{ event.title }}</h4>
                <b class="card-title">{{ event.date|date("d M Y H:i") }}</b>
                <p class="card-text">
                    {{ event.details|nl2br }}
                </p>
            </div>

            <a class="btn btn-success" href="{{ url('event_complete', { 'id': event.id }) }}">Complete</a>
        </div>
    </div>
    <br>
{% endblock %}
