{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <h3>Edit event </h3>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-success" type="submit" value="Save"/>
            <a class="btn btn-danger btn-delete" href="{{ url('event_delete', {'id': event.id}) }}">Delete</a>
            <a class="btn btn-info" href="{{ url('event_list') }}">Cancel</a>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
