{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3>Today's schedule</h3>
            {% if past %}

                <div class="card">
                    <div class="card-header">
                        <b>Past events</b>
                    </div>
                    <div class="card-body">
                        You have {{ past }} past event(s) for today
                        <br>
                        <a href="{{ url('event_list_past_today') }}">View all past for today</a>
                    </div>
                </div>
                <br>
            {% endif %}

            {% if current %}
                <div class="card">
                    <div class="card-header">
                        <b>Current Event</b>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ current.title }}</h4>
                        <b class="card-title">{{ current.date|date("d M Y H:i") }}</b>
                        <p class="card-text">
                            {{ current.detailsTrimmed|nl2br }}
                        </p>

                        <a href="{{ url('event_card', { 'id': current.id }) }}" class="btn btn-primary btn-card">
                            View
                        </a>
                        <a href="{{ url('event_complete', { 'id': current.id }) }}" class="btn btn-success">
                            Complete
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-success">No upcoming events for today</div>
            {% endif %}

            {% if upcoming %}
                <br>
                <div class="card">
                    <div class="card-header">
                        <b>Upcoming event</b>
                    </div>
                    <div class="card-body">
                        You have {{ upcoming }} upcoming event(s)
                        <br>
                        <a href="{{ url('event_list_upcoming_today') }}">View all upcoming for today</a>
                    </div>
                </div>
                <br>
            {% endif %}
        </div>
    </div>
{% endblock %}
