{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">

            <h3>Events</h3>

            {% if events is empty %}
                <div class="alert alert-info">No records</div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="{{ events.isSorted('e.date') ? 'sorted  : ' }}">
                            {{ knp_pagination_sortable(events, 'Birthday', 'e.date') }}
                        </th>
                        <th class="{{ events.isSorted('e.title') ? 'sorted' : '' }}" nowrap="true">
                            {{ knp_pagination_sortable(events, 'Title', 'e.title') }}
                        </th>
                        <th class="{{ events.isSorted('e.details') ? 'sorted' : '' }}" nowrap="true">
                            {{ knp_pagination_sortable(events, 'Details', 'e.details') }}
                        </th>
                        <th class="{{ events.isSorted('e.completed') ? 'sorted  : ' }}">
                            {{ knp_pagination_sortable(events, 'Status', 'e.completed') }}
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>
                                {{ event.date|date('d.m.Y H:i') }}
                            </td>
                            <td class="text-nowrap">
                                <a href="{{ url('event_show', { 'id': event.id }) }}">
                                    {{ event.title }}
                                </a>
                            </td>
                            <td class="">
                                {{ event.detailsTrimmed|nl2br }}
                            </td>
                            <td class="text-nowrap">
                                {% if event.completed %}
                                    <span><i class="fa fa-calendar-check"></i> Completed</span>
                                {% elseif event.isPastDue %}
                                    <span><i class="fa fa-history"></i> Past due</span>
                                {% else %}
                                    <span><i class="fa fa-clock"></i> Upcoming</span>
                                {% endif %}
                            </td>
                            <td class="text-nowrap">
                                <a class="btn btn-info" href="{{ url('event_show', { 'id': event.id }) }}">View</a>
                                <a class="btn btn-warning" href="{{ url('event_edit', { 'id': event.id }) }}">Edit</a>
                                <a class="btn btn-danger btn-delete" href="{{ url('event_delete', {'id': event.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(events) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
