{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3>Event</h3>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Date</th>
                    <td>
                        {{ event.date|date('d.m.Y H:i') }}
                    </td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>
                        {{ event.title }}
                    </td>
                </tr>
                <tr>
                    <th>Details</th>
                    <td>
                        {{ event.details|nl2br }}
                    </td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {% if event.completed %}
                            <span><i class="fa fa-calendar-check"></i> Completed</span>
                        {% elseif event.isPastDue %}
                            <span><i class="fa fa-history"></i> Past due</span>
                        {% else %}
                            <span><i class="fa fa-clock"></i> Upcoming</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-warning" href="{{ url('event_edit', { 'id': event.id }) }}">Edit</a>
            <a class="btn btn-danger btn-delete" href="{{ url('event_delete', {'id': event.id}) }}">Delete</a>
            <a class="btn btn-info" href="{{ url('event_list') }}">Back to the list</a>
        </div>
    </div>
{% endblock %}
