<!DOCTYPE html>
<html xmlns="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('organizer') }}
    {% endblock style %}
</head>
<body>
<header class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xl">
            <a class="navbar-brand" href="{{ url('index') }}">{{ app_name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('event_new') }}">New Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('event_list') }}">All Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('event_list_upcoming') }}">Upcoming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('event_list_past') }}">Past</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('event_list_completed') }}">Completed</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container-xl">
    {% include "@App/inc/messages.html.twig" %}

    {% block body %}{% endblock %}
</main>

<footer class="footer mt-4">
    <div class="container-xl">
        <span class="text-muted">{{ app_name }} &copy;  Copyright {{ "now"|date("Y") }}</span>
    </div>
</footer>


{{ encore_entry_script_tags('organizer') }}
{% block javascripts %}
{% endblock %}
</body>
</html>
