<!DOCTYPE html>
<html xmlns="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('organizer') }}
    {% endblock style %}
</head>
<body>
<main role="main" class="container-fluid">
    {% include "@App/inc/messages.html.twig" %}

    {% block body %}{% endblock %}
</main>
</body>
</html>
