@import "~bootstrap/scss/bootstrap";
@import "~jquery-ui-bundle/jquery-ui.min.css";
@import "~jquery-datetimepicker/build/jquery.datetimepicker.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~fancybox/dist/css/jquery.fancybox.css";

body {
    //margin-bottom: 60px;
}

.footer {
    //position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.email {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.sorted {
    a {
        text-decoration: underline;
    }
}

.fancybox-wrap.fancybox-desktop.fancybox-type-ajax.fancybox-opened {
    min-width: 50% !important;

    .fancybox-inner {
        width: 100% !important;
    }
}